// COLORS
$dark-blue: #182129;
$white: #ffffff;
$black: #000000;
$aqua-lt: #00f3ff;
$aqua-dark: #01cccc;

$colorMain: #00ff66;
$colorSecond: #022f57;
$colorBlue: #0062b0;
$colorMainLight: #67ffa4;
$colorSecondDark: #182129;

$bxs-slight: 0 0 3px rgba(0,0,0,0.25);
$bxs-light: 0 0 5px rgba(0,0,0,0.3);
$bxs-medium: 2px 4px 10px rgba(0,0,0,0.2);
$bxs-dark: 0 0 11px rgba(0,0,0,0.55);

// Navigation Variables
$content-width-80: 80%;
$content-width-95: 95%;
$content-width-xl: 66rem;
$breakpoint: 860px;
$nav-height: 70px;
$nav-background: #fff;
$nav-font-color: #000;
$link-hover-color: $aqua-lt;

// Breakpoints
$bp-xs: 375px;
$bp-smaller: 680px;
$bp-small: 720px;
$bp-medium: 860px;
$bp-large: 1024px;
$bp-large-home: 1080px;
$bp-xl: 1280px;

@mixin media($max: false, $min: false) {
    @if $max {
      @if $min {
        @media screen and (max-width: $max - 1) and (min-width: $min) { @content; }
      } @else {
        @media screen and (max-width: $max - 1) { @content; }
      }
    } @else {
      @media screen and (min-width: $min) { @content; }
    }
}



#home-page-main-grid {
    grid-template-rows: auto 100px;
    position: relative;
    z-index: 5;

    & .header {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        
        & header {
            
            & .nav-container {
                margin-top: 0.5rem;

                & .brand{
                    z-index: 6;

                }

                & nav {
                    padding: 80px 0 0px;
                    z-index: 10;

                    @include media($min:$bp-small) {
                        padding: 0;
                        background: transparent;
                    }
                    
                    & .nav-mobile {
                        cursor: pointer;
                        background: transparent !important;
                        margin-right: 1rem;
                        

                        &:hover {
                            box-shadow: 0 2px 16px rgba($black,0.5);
                        }
                        
                        & #nav-toggle {
                            & span {
                                
                            }
                        }
                    }

                    & ul.nav-list {
                        & li {
                            z-index: 11;
                            & a {
                                z-index: 11;
                                background: #ffffff;

                                &:hover {
                                    background: $colorMainLight;
                                }

                                @include media($min:$bp-small) {
                                    background: transparent;
                                    
                                    &:hover {
                                        background: transparent;
                                    }


                                }

                            }

                            & ul {
                                & li {
                                    & a {
                                        background: #ffffff;

                                        @include media($min:$bp-small) {
                                        }
                                    }
                                }
                            }

                        }

                    }
                }
            }
        }
    }
}