@charset "UTF-8";
#grid > div {
  min-height: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  float: left;
}

#grid.cell-1 > div {
  width: 100%;
}

#grid.cell-2 > div {
  width: 50%;
}

#grid.cell-3 > div {
  width: 33.33333%;
}

#grid.cell-4 > div {
  width: 25%;
}

#grid.cell-5 > div {
  width: 20%;
}

#grid.cell-6 > div {
  width: 16.66667%;
}

#grid.cell-7 > div {
  width: 14.28571%;
}

#grid.cell-8 > div {
  width: 12.5%;
}

#grid.cell-9 > div {
  width: 11.11111%;
}

#grid.cell-10 > div {
  width: 10%;
}

@media all and (min-width: 680px) {
  #grid.cell-680-1 > div {
    width: 100%;
  }
  #grid.cell-680-2 > div {
    width: 50%;
  }
  #grid.cell-680-3 > div {
    width: 33.33333%;
  }
  #grid.cell-680-4 > div {
    width: 25%;
  }
}

@media all and (min-width: 860px) {
  #grid.cell-860-1 > div {
    width: 100%;
  }
  #grid.cell-860-2 > div {
    width: 50%;
  }
  #grid.cell-860-3 > div {
    width: 33.33333%;
  }
  #grid.cell-860-4 > div {
    width: 25%;
  }
  #grid.cell-860-5 > div {
    width: 20%;
  }
  #grid.cell-860-6 > div {
    width: 16.66667%;
  }
}

@media all and (min-width: 1024px) {
  #grid.cell-1024-1 > div {
    width: 100%;
  }
  #grid.cell-1024-2 > div {
    width: 50%;
  }
  #grid.cell-1024-3 > div {
    width: 33.33333%;
  }
  #grid.cell-1024-4 > div {
    width: 25%;
  }
  #grid.cell-1024-5 > div {
    width: 20%;
  }
  #grid.cell-1024-6 > div {
    width: 16.66667%;
  }
  #grid.cell-1024-7 > div {
    width: 14.28571%;
  }
  #grid.cell-1024-8 > div {
    width: 12.5%;
  }
}

@media all and (min-width: 1280px) {
  #grid.cell-1280-1 > div {
    width: 100%;
  }
  #grid.cell-1280-2 > div {
    width: 50%;
  }
  #grid.cell-1280-3 > div {
    width: 33.33333%;
  }
  #grid.cell-1280-4 > div {
    width: 25%;
  }
  #grid.cell-1280-5 > div {
    width: 20%;
  }
  #grid.cell-1280-6 > div {
    width: 16.66667%;
  }
  #grid.cell-1280-7 > div {
    width: 14.28571%;
  }
  #grid.cell-1280-8 > div {
    width: 12.5%;
  }
  #grid.cell-1280-9 > div {
    width: 11.11111%;
  }
  #grid.cell-1280-10 > div {
    width: 10%;
  }
}

@media screen and (min-width: 860px) {
  .grid-two-columns > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

body {
  margin: 0;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

.text-center {
  text-align: center;
}

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.site-wrapper {
  display: -ms-grid;
  display: grid;
  grid-auto-rows: 70px 6fr 1fr;
  min-height: 100vh;
  min-width: 100%;
      grid-template-areas: "header" "content" "footer";
  justify-items: stretch;
}

.navigation {
  height: 70px;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / span 3;
  background: transparent;
}

.content {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: content;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / span 3;
  background: transparent;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 2.5em;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / span 3;
  background: transparent;
}

.grid-section {
  display: -ms-grid;
  display: grid;
}

.hero-contact-grid {
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: .25em;
}

@media screen and (min-width: 860px) {
  .hero-contact-grid {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 1.25em;
  }
}

.hero-section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  text-align: center;
  min-height: 27em;
}

@media screen and (min-width: 860px) {
  .hero-section {
    -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    background: url("../img/hero-bg-1650x.png");
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}

.hero-section .hero-title {
  padding: 6em 0em;
  margin: auto;
  width: 100%;
  background: url("../img/hero-bg-1650x.png");
  background-size: auto;
  background-position: bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hero-section .hero-title p {
  display: none;
}

@media screen and (min-width: 860px) {
  .hero-section .hero-title p {
    font-size: 1.5em;
    color: #ffffff;
    display: block;
    margin: 0 20px 0 0;
  }
}

.hero-section .hero-title h1 {
  font-size: 4em;
  line-height: 1.0;
  font-weight: 800;
  margin-top: 0;
  margin-bottom: 0;
  text-shadow: -4px 4px 0px #00e6e6;
  color: #ffffff;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.hero-section .hero-title h1:hover {
  text-shadow: -4px 4px 0px #00e6e6, -8px 8px 0px #01cccc;
}

@media screen and (min-width: 720px) {
  .hero-section .hero-title h1 {
    font-size: 6em;
    line-height: 1.0;
  }
}

@media screen and (min-width: 860px) {
  .hero-section .hero-title h1 {
    text-shadow: -4px 4px 0px #01cccc;
    font-size: 6em;
    line-height: 1.0;
    text-align: left;
    margin-bottom: 0.3em;
  }
}

@media screen and (min-width: 860px) {
  .hero-section .hero-title {
    background: transparent;
    padding-left: 30px;
    text-align: left;
  }
}

.hero-section .hero-contact-form {
  font-family: "lato", Arial, Helvetica, sans-serif;
  background: -webkit-gradient(linear, left bottom, left top, from(#182129), to(rgba(19, 43, 64, 0.65)));
  background: linear-gradient(to top, #182129, rgba(19, 43, 64, 0.65));
  padding: 2.0rem 1.0rem;
}

.hero-section .hero-contact-form h3 {
  font-family: "lato", Arial, Helvetica, sans-serif;
  font-size: 1em;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 0em 0 .5em;
}

@media screen and (min-width: 860px) {
  .hero-section .hero-contact-form h3 {
    font-size: 1.55em;
  }
}

@media screen and (min-width: 860px) {
  .hero-section .hero-contact-form {
    margin: auto 2em;
    padding: 2.0rem 1.6rem;
    border-radius: 5px;
    -webkit-box-shadow: 0 4px 13px rgba(0, 0, 0, 0.7);
            box-shadow: 0 4px 13px rgba(0, 0, 0, 0.7);
  }
}

form#hero-form {
  text-align: left;
  width: 100%;
  color: #fff;
  display: -ms-grid;
  display: grid;
}

form#hero-form p {
  margin: .2em .2em;
}

form#hero-form .hero-form-label {
  font-size: 1.25em;
}

form#hero-form input {
  outline: none;
  padding: .65em 0.65em;
  width: calc(100% - 1.3em);
  border-radius: 3em;
  border: 0;
  -webkit-box-shadow: 0 8px 15px rgba(0, 0, 0, 0.45);
          box-shadow: 0 8px 15px rgba(0, 0, 0, 0.45);
  color: #000000;
}

form#hero-form button {
  margin-top: 1em;
  width: 99.9%;
  text-align: center;
  padding: .8em 0;
  border: 0;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.5em;
  border-radius: 3em;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  background: #00e6e6;
  color: #ffffff;
  opacity: 0.88;
  cursor: pointer;
}

form#hero-form button:hover {
  -webkit-box-shadow: 0 8px 15px rgba(0, 0, 0, 0.45);
          box-shadow: 0 8px 15px rgba(0, 0, 0, 0.45);
  opacity: 1;
}

.navigation {
  background: #fff;
}

.brand {
  position: absolute;
  padding-left: 20px;
  float: left;
  line-height: 70px;
  text-transform: uppercase;
  font-size: 1.4em;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}

.brand a,
.brand a:visited {
  color: #000;
  text-decoration: none;
}

.nav-container {
  max-width: 1000px;
  margin: 0 auto;
}

nav {
  float: right;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  float: left;
  position: relative;
}

nav ul li a,
nav ul li a:visited {
  display: block;
  padding: 0 20px;
  line-height: 70px;
  background: #fff;
  color: #000;
  text-decoration: none;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}

nav ul li a:hover,
nav ul li a:visited:hover {
  background: #00e6e6;
  color: #000;
}

nav ul li a:not(:only-child):after,
nav ul li a:visited:not(:only-child):after {
  padding-left: 4px;
  content: ' ▾';
}

nav ul li ul li {
  min-width: 190px;
}

nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
}

.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  -webkit-box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
          box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

/* Mobile navigation */
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: #fff;
  height: 70px;
  width: 70px;
}

@media only screen and (max-width: 798px) {
  .nav-mobile {
    display: block;
  }
  nav {
    width: 100%;
    z-index: 99999999;
    position: relative;
    padding: 70px 0 0px;
  }
  nav ul {
    display: none;
  }
  nav ul li {
    float: none;
  }
  nav ul li a {
    padding: 15px;
    line-height: 20px;
  }
  nav ul li ul li a {
    padding-left: 30px;
  }
  .nav-dropdown {
    position: static;
  }
}

@media screen and (min-width: 799px) {
  .nav-list {
    display: block !important;
  }
}

#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #000;
  position: absolute;
  display: block;
  content: '';
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}

#nav-toggle span:before {
  top: -10px;
}

#nav-toggle span:after {
  bottom: -10px;
}

#nav-toggle.active span {
  background-color: transparent;
}

#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}

#nav-toggle.active span:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#nav-toggle.active span:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.slide-up-fade-in {
  animation: slide-up-fade-in ease 3s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  animation-fill-mode: forwards;
  /*when the spec is finished*/
  -webkit-animation: slide-up-fade-in ease 3s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-fill-mode: forwards;
  /*Chrome 16+, Safari 4+*/
  -moz-animation: slide-up-fade-in ease 2.3s;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 50% 50%;
  -moz-animation-fill-mode: forwards;
  /*FF 5+*/
  -o-animation: slide-up-fade-in ease 3s;
  -o-animation-iteration-count: 1;
  -o-transform-origin: 50% 50%;
  -o-animation-fill-mode: forwards;
  /*Not implemented yet*/
  -ms-animation: slide-up-fade-in ease 3s;
  -ms-animation-iteration-count: 1;
  -ms-transform-origin: 50% 50%;
  -ms-animation-fill-mode: forwards;
  /*IE 10+*/
  opacity: 0;
}

@keyframes slide-up-fade-in {
  0% {
    opacity: 0;
    -webkit-transform: translate(0px, 40px);
            transform: translate(0px, 40px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

@-webkit-keyframes slide-up-fade-in {
  0% {
    opacity: 0;
    -webkit-transform: translate(0px, 40px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0px, 0px);
  }
}

.grid-flex-child-2-col {
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
}

.center-text-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #ffffff;
  text-align: center;
}

.center-text-flex h1 {
  text-align: center;
  margin: auto;
  padding: 2em 1em 0em;
  font-size: 1.6em;
}

@media screen and (min-width: 680px) {
  .center-text-flex h1 {
    font-size: 2em;
  }
}

@media screen and (min-width: 1280px) {
  .center-text-flex h1 {
    font-size: 2.8em;
  }
}

@media screen and (min-width: 680px) {
  .second-section div {
    text-align: center;
    margin: auto 0;
  }
}

.second-section div p {
  font-size: 1.7em;
  margin: 0em auto 0.75em;
}

@media screen and (min-width: 680px) {
  .second-section div p {
    font-size: 2em;
    margin: 1em auto;
    text-align: center;
  }
}

.second-section > div > button {
  font-size: 1.3em;
  padding: 0.6em 1em;
  border-radius: 3em;
  -webkit-box-shadow: 0;
          box-shadow: 0;
  margin: auto;
  text-align: center;
  background: #00c6ff;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}

.second-section > div > button a {
  text-decoration: none;
  color: #fff;
  display: block;
}

.second-section > div > button:hover {
  -webkit-box-shadow: 0 8px 15px rgba(0, 0, 0, 0.45);
          box-shadow: 0 8px 15px rgba(0, 0, 0, 0.45);
  background: #182129;
}

.second-section > div > button:nth-child(0n+2) {
  border: 2px solid #182129;
  background: #fff;
  color: #182129;
}

.second-section > div > button:nth-child(0n+2) a {
  color: #182129;
}

.second-section > div > button:nth-child(0n+2):hover {
  -webkit-box-shadow: 0 8px 15px rgba(0, 0, 0, 0.45);
          box-shadow: 0 8px 15px rgba(0, 0, 0, 0.45);
  background: #182129;
}

.second-section > div > button:nth-child(0n+2):hover a {
  color: #ffffff;
}

.second-section {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 30px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
}

.value-props-grid {
  padding: 1em 1em;
}

@media screen and (min-width: 860px) {
  .value-props-grid {
    padding: 1em 4em;
  }
}

@media screen and (min-width: 1280px) {
  .value-props-grid {
    padding: 1.5em 10em;
  }
}

.value-prop-item {
  margin: auto;
  text-align: center;
  margin-top: 3em;
}

@media screen and (min-width: 860px) {
  .value-prop-item {
    margin: 2em auto;
  }
}

.value-prop-inner h3 {
  font-size: 22px;
  font-weight: 700;
  line-height: 1em;
  text-align: center;
  margin: 0.5em;
}

@media screen and (min-width: 860px) {
  .value-prop-inner h3 {
    font-size: 25px;
  }
}

.value-prop-inner p {
  font-size: 17px;
  font-weight: 400;
  line-height: 1em;
  text-align: center;
}
/*# sourceMappingURL=main.css.map */