// COLORS
$dark-blue: #182129;
$lt-blue: #00c6ff;
$lt-green: #43cea2;
$red: #c10000;
$white: #ffffff;
$black: #000000;
$aqua-lt: #00e6e6;
$aqua-dark: #01cccc;

// Navigation Variables
$content-width: 1000px;
$breakpoint: 799px;
$nav-height: 70px;
$nav-background: #fff;
$nav-font-color: #000;
$link-hover-color: $aqua-lt;

// BREAKPOINTS
// Breakpoints
$bp-xs: 375px;
$bp-smaller: 680px;
$bp-small: 720px;
$bp-medium: 860px;
$bp-large: 1024px;
$bp-large-home: 1080px;
$bp-xl: 1280px;

@mixin media($max: false, $min: false) {
    @if $max {
      @if $min {
        @media screen and (max-width: $max - 1) and (min-width: $min) { @content; }
      } @else {
        @media screen and (max-width: $max - 1) { @content; }
      }
    } @else {
      @media screen and (min-width: $min) { @content; }
    }
  }


// BOX SHADOW
$btn-shadow: 0 8px 15px rgba(0,0,0,.45);

// TRANSITION 
$quick-trans: all 0.25s ease-out;
@mixin transition($quick-trans) {
    -webkit-transition: $quick-trans;
    -moz-transition: $quick-trans;
    -o-transition: $quick-trans;
    -ms-transition: $quick-trans;
    transition: $quick-trans;
  }
  

// EVERYTHING MOBILE FIRST
// MEDIA QUERIES AS DEVICE GETS LARGER
// BP-SMALL+, BP-LARGE+, BP-XL+

// SASS MATH GRID STUFF
#grid > div {
  min-height: 50px;
  box-sizing: border-box;
  float: left;
}

@for $i from 1 through 10 {
  $equ: 100% / $i ;
  #grid.cell-#{ $i } > div {
    width: $equ;
  }
}

$map: ( 680:4, 860: 6, 1024:8, 1280: 10 );

@each $media, $range in $map {

  @media all and (min-width: $media + px) {
    @for $i from 1 through $range {
        $equ: 100% / $i ;
        #grid.cell-#{$media}-#{$i} > div {
          width: $equ;
        }
      }
  }

}

.grid-two-columns > div {

  @include media($min: $bp-medium) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}



// END SASS MATH GRID

body {
    margin: 0;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
  }

.text-center {
  text-align: center;
}

.justify-center {
  justify-content: center;
}



//   MOBILE FIRST, THEN BUILD OUT

  .site-wrapper {
    display: grid;
    grid-auto-rows: $nav-height 6fr 1fr;
    min-height: 100vh;
    min-width: 100%;
    grid-template-areas: 
    "header"
    "content"
    "footer";
    justify-items: stretch;
  }


  .navigation {
    height: $nav-height;
    grid-area: header;
    grid-column: 1 / span 3;
    background: transparent;
    // border-bottom: 1px solid green;
  }
  
  .content {

    display: grid;
    grid-area: content;
    grid-column: 1 / span 3;
    background: transparent;
    // border: 1px solid green;
  }
  
  .footer {
    display: flex;
    min-height: 2.5em; 
    grid-area: footer;
    grid-column: 1 / span 3;
    background: transparent;
  }


.grid-section {
  display: grid;
}


.hero-contact-grid {
  grid-template-columns: 1fr;
  grid-gap: .25em;

  @include media($min: $bp-medium) {
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.25em;
  }

}

.hero-section {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  min-height: 27em;

  // @include media($min: $bp-small) {
  //   grid-template-columns: 1fr;
  // }

  @include media($min: $bp-medium) {
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    background: url('../img/hero-bg-1650x.png');
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  & .hero-title{
    padding: 6em 0em;
    margin: auto;
    width: 100%;
    background: url('../img/hero-bg-1650x.png');
    background-size: auto;
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    

    & p {
      display: none;

      @include media($min: $bp-medium) {
        font-size: 1.5em;
      color: #ffffff;
      display: block;
      margin: 0 20px 0 0;
        
      }

    }

      & h1 {
        font-size: 4em;
        line-height: 1.0;
        font-weight: 800;
        margin-top: 0;
        margin-bottom: 0;
        text-shadow:-4px 4px 0px $aqua-lt;
        color: #ffffff;
        @include transition(all .4s ease-in-out);

        &:hover {
          text-shadow:-4px 4px 0px $aqua-lt,-8px 8px 0px $aqua-dark;
        }

        @include media($min: $bp-small) {
          font-size: 6em;
          line-height: 1.0;
        }

        @include media($min: $bp-medium) {
          text-shadow:-4px 4px 0px $aqua-dark;
          font-size: 6em;
          line-height: 1.0;
          text-align: left;
          margin-bottom: 0.3em;
          
        }
      }

      @include media($min: $bp-medium) {
        background: transparent;
        padding-left: 30px;
        text-align: left;
      }

  }

  & .hero-contact-form {
    font-family: "lato", Arial, Helvetica, sans-serif;
    background: linear-gradient(to top, #182129, rgba(19,43,64,0.65));
    padding: 2.0rem 1.0rem;

    & h3 {
      font-family: "lato", Arial, Helvetica, sans-serif;
      font-size: 1em;
      color: #fff;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      margin: 0em 0 .5em;

        @include media($min: $bp-medium) {
          font-size: 1.55em;
        }

    }

    @include media($min: $bp-medium) {
        margin: auto 2em;
        padding: 2.0rem 1.6rem;
        border-radius: 5px;
        box-shadow: 0 4px 13px rgba(0,0,0,0.7);
        
    }
  }


}


form#hero-form{
text-align: left;
width: 100%;
color: #fff;
display: grid;




  & p {
    margin: .2em .2em;
  }

  & .hero-form-label {
    font-size: 1.25em;
  }

  & input {
    outline: none;
    padding: .65em 0.65em;
    width: calc(100% - 1.3em);
    border-radius: 3em;
    border: 0;
    box-shadow: $btn-shadow;
    color: #000000;
  }

  & button {
    margin-top: 1em;
    width: 99.9%;
    text-align: center; 
    padding: .8em 0;
    border: 0;
    font-family: "Lato", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.5em;
    border-radius: 3em;
    @include transition($quick-trans);
    background: $aqua-lt;
    color: $white;
    opacity: 0.88;
    cursor: pointer;
    

    &:hover {
      box-shadow: $btn-shadow;
      opacity: 1;
      
    }
}
}



// NAVBAR CSS

// Outer navigation wrapper
.navigation {
  // height: $nav-height;
  background: $nav-background;
}

// Logo and branding
.brand {
  position: absolute;
  padding-left: 20px;
  float: left;
  line-height: $nav-height;
  text-transform: uppercase;
  font-size: 1.4em;
  @include transition($quick-trans);
  a,
  a:visited {
    color: $nav-font-color;
    text-decoration: none;
  }
}

// Container with no padding for navbar
.nav-container {
  max-width: $content-width;
  margin: 0 auto;
}

// Navigation 
nav {
  float: right;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      float: left;
      position: relative;
      a,
      a:visited {
        display: block;
        padding: 0 20px;
        line-height: $nav-height;
        background: $nav-background;
        color: $nav-font-color;
        text-decoration: none;
        @include transition($quick-trans);
        &:hover {
          background: $link-hover-color;
          color: $nav-font-color;
        }
        &:not(:only-child):after {
          padding-left: 4px;
          content: ' ▾';
        }
      } // Dropdown list
      ul li {
        min-width: 190px;
        a {
          padding: 15px;
          line-height: 20px;
        }
      }
    }
  }
}

// Dropdown list binds to JS toggle event
.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

/* Mobile navigation */

// Binds to JS Toggle
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: $nav-background;
  height: $nav-height;
  width: $nav-height;
}
@media only screen and (max-width: 798px) {
  // Hamburger nav visible on mobile only
  .nav-mobile {
    display: block;
  }
  nav {
   width: 100%;
       z-index: 99999999;
    position: relative;
    padding: $nav-height 0 0px;
    ul {
      display: none;
      li {
        float: none;
        a {
          padding: 15px;
          line-height: 20px;
        }
        ul li a {
          padding-left: 30px;
        }
      }
    }
  }
  .nav-dropdown {
    position: static;
  }
}
@media screen and (min-width: $breakpoint) {
  .nav-list {
    display: block !important;
  }
}
#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
  span,
  span:before,
  span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: $nav-font-color;
    position: absolute;
    display: block;
    content: '';
    @include transition($quick-trans);
  }
  span:before {
    top: -10px;
  }
  span:after {
    bottom: -10px;
  }
  &.active span {
    background-color: transparent;
    &:before,
    &:after {
      top: 0;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }
}

// END OF NAVBAR CSS



// CSS EFFECTS
// SLIDE UP EFFECT
.slide-up-fade-in {
  animation: slide-up-fade-in ease 3s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  animation-fill-mode:forwards; /*when the spec is finished*/
  -webkit-animation: slide-up-fade-in ease 3s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/ 
  -moz-animation: slide-up-fade-in ease 2.3s;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 50% 50%;
  -moz-animation-fill-mode:forwards; /*FF 5+*/
  -o-animation: slide-up-fade-in ease 3s;
  -o-animation-iteration-count: 1;
  -o-transform-origin: 50% 50%;
  -o-animation-fill-mode:forwards; /*Not implemented yet*/
  -ms-animation: slide-up-fade-in ease 3s;
  -ms-animation-iteration-count: 1;
  -ms-transform-origin: 50% 50%;
  -ms-animation-fill-mode:forwards; /*IE 10+*/

  opacity:0;


}

@keyframes slide-up-fade-in{
  0% {
      opacity:0;
      transform:  translate(0px,40px)  ;
  }
  100% {
      opacity:1;
      transform:  translate(0px,0px)  ;
  }
}

@-moz-keyframes slide-up-fade-in{
  0% {
      opacity:0;
      -moz-transform:  translate(0px,40px)  ;
  }
  100% {
      opacity:1;
      -moz-transform:  translate(0px,0px)  ;
  }
}

@-webkit-keyframes slide-up-fade-in {
  0% {
      opacity:0;
      -webkit-transform:  translate(0px,40px)  ;
  }
  100% {
      opacity:1;
      -webkit-transform:  translate(0px,0px)  ;
  }
}

@-o-keyframes slide-up-fade-in {
  0% {
      opacity:0;
      -o-transform:  translate(0px,40px)  ;
  }
  100% {
      opacity:1;
      -o-transform:  translate(0px,0px)  ;
  }
}

@-ms-keyframes slide-up-fade-in {
  0% {
      opacity:0;
      -ms-transform:  translate(0px,40px)  ;
  }
  100% {
      opacity:1;
      -ms-transform:  translate(0px,0px)  ;
  }
} 

// END SLIDE UP EFFECT




// FIRST SECTION CSS
.grid-flex-child-2-col {
  min-height: fit-content;
}

.center-text-flex {
  display: flex;
  background: $white;
  text-align: center;

  & h1 {
    text-align: center; 
    margin: auto;
    padding: 2em 1em 0em; 
    font-size: 1.6em;

    @include media($min: $bp-smaller) {
      font-size: 2em;
    }

    @include media($min: $bp-xl) {
      font-size: 2.8em;
    }

  }
}

// SECOND SECTION

.second-section div {





  @include media($min: $bp-smaller) {
    text-align: center;
    margin: auto 0;
  }

}

.second-section div p {
  font-size: 1.7em; 
  margin: 0em auto 0.75em;

  @include media($min: $bp-smaller) {
    font-size: 2em;
    margin: 1em auto;
    text-align: center;
  }

}

.second-section > div > button{
  font-size: 1.3em;
  padding: 0.6em 1em;
  border-radius: 3em;
  box-shadow: 0;
  margin: auto;
  text-align: center;
  background:  $lt-blue;
 
  @include transition($quick-trans)

  & a{
    text-decoration: none;
    color: #fff;
    display: block;
  }
  
  &:hover {
    box-shadow: $btn-shadow;
    background: $dark-blue;
  }

  &:nth-child(0n+2) {
    border: 2px solid $dark-blue;
    background: #fff;
    color: $dark-blue;

    & a{
      color:  $dark-blue;
    }

    &:hover {
      box-shadow: $btn-shadow;
      background: $dark-blue;

      & a{
        color:  $white;
      }
    }

  }
}

.second-section {
  justify-content: center;
  align-content: center;
  padding: 30px 10px;
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  text-align: center;
}




// VALUE PROPS CSS
.value-props-grid {
  padding: 1em 1em;

  @include media($min: $bp-medium) {
    padding: 1em 4em;
  }

  @include media($min: $bp-xl) {
    padding: 1.5em 10em;
    
  }
}

.value-prop-item {
  margin: auto;
  text-align: center;
  margin-top: 3em;



  @include media($min: $bp-medium) {
    margin: 2em auto;
  }
}

.value-prop-inner {
  // border: 1px solid green;


  & img {

  }

  & h3 {
    font-size: 22px;
    font-weight: 700;
    line-height: 1em;
    text-align: center;
    margin: 0.5em;

    @include media($min: $bp-medium) {
      font-size: 25px;
    }
  }

  & p {
    font-size: 17px;
    font-weight: 400;
    line-height: 1em;
    text-align: center;

  }
}