// COLORS
$dark-blue: #182129;
$white: #ffffff;
$black: #000000;
$aqua-lt: #00f3ff;
$aqua-dark: #01cccc;

$colorMain: #00ff66;
$colorSecond: #022f57;
$colorBlue: #0062b0;
$colorMainLight: #67ffa4;
$colorSecondDark: #182129;

$bxs-slight: 0 0 3px rgba(0,0,0,0.25);
$bxs-light: 0 0 5px rgba(0,0,0,0.3);
$bxs-medium: 2px 4px 10px rgba(0,0,0,0.2);
$bxs-dark: 0 0 11px rgba(0,0,0,0.55);

// Navigation Variables
$content-width-80: 80%;
$content-width-95: 95%;
$content-width-xl: 66rem;
$breakpoint: 860px;
$nav-height: 70px;
$nav-background: #fff;
$nav-font-color: #000;
$link-hover-color: $aqua-lt;

// Breakpoints
$bp-xs: 375px;
$bp-smaller: 680px;
$bp-small: 720px;
$bp-medium: 860px;
$bp-large: 1024px;
$bp-large-home: 1080px;
$bp-xl: 1280px;

@mixin media($max: false, $min: false) {
    @if $max {
      @if $min {
        @media screen and (max-width: $max - 1) and (min-width: $min) { @content; }
      } @else {
        @media screen and (max-width: $max - 1) { @content; }
      }
    } @else {
      @media screen and (min-width: $min) { @content; }
    }
}

// EXTENDS, MIXINS, ETC.
// TRANSITION
$quick-trans: all 0.2s ease-out;
@mixin imantransition($property) {
    -webkit-transition: $property;
    -moz-transition: $property;
    -o-transition: $property;
    -ms-transition: $property;
    transition: $property;
}
%trans {
    @include imantransition($quick-trans);
}

%box-shadow {
    box-shadow: 2px 2px 7px rgba(0,0,0,0.3);
}

%box-shadow-hover {
    box-shadow: 0px 2px 5px rgba(0,0,0,0.15);
    @include imantransition(all 0.2s ease-out);
      
    &:hover {
        box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    }
}

%text-shadow-2 {
    text-shadow: 2px 2px rgba(0,0,0,0.75);
}

%button-base {
    padding: 0.5rem 1.2rem;
    border: 1px solid transparent;
    border-radius: 4px;
    background: inherit;
    color: inherit;
    text-decoration: none;

}

// GRID SHIT
%grid-base {
    display: grid;
    grid-template-columns: 1fr;
}

%section-padding {
    padding: 2.5rem 0;
    
    @include media($min: $bp-small) {
        padding: 5rem 0;
    }
}

%small-section-padding {
    padding: 1.5rem 0;
    
    @include media($min: $bp-small) {
        padding: 3rem 0;
    }
}

%overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    
}

.grid-1-2-fr {
    grid-template-columns: 1fr !important;

    @include media($min:$bp-medium) {
        grid-template-columns: 1fr 2fr !important;
    }
}

.grid-2-1-fr {
    grid-template-columns: 1fr !important;

    @include media($min:$bp-medium) {
        grid-template-columns: 2fr 1fr !important;
    }
}


.grid-gap-small {
    grid-gap: 10px;
}

.grid-gap-1-3 {
    grid-gap: 1rem;

    @include media($min: $bp-small) {
        grid-gap: 3rem;
    }
}

.grid-gap-2-4 {
    grid-gap: 2rem;

    @include media($min: $bp-small) {
        grid-gap: 4rem;
    }
}
   

// STANDARDS
a {
    cursor: pointer !important;
}

body {
    margin: 0;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
}

// TYPOGRAPHY

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

.lato {
    font-family: 'Lato', Arial, Helvetica, sans-serif !important;
}

.raleway {
    font-family: 'Raleway', 'Lato', Arial, Helvetica, sans-serif !important;
}

.nobel {
    font-family: 'nobel', 'Raleway', 'Lato', Arial, Helvetica, sans-serif !important;;
    font-weight: 200;
}

.font-300 {
    font-weight: 300 !important;
}

.font-400 {
    font-weight: 400 !important;
}

.font-500 {
    font-weight: 500 !important;
}

.font-700 {
    font-weight: 700 !important;
}

.font-blue {
    color: $colorBlue !important;
}

.font-green {
    color: $colorMainLight !important;
}

.font-black {
    color: $black !important;
}

.font-white {
    color: $white !important;
}

.h1 {
    font-size: 1.75rem;

    @include media($min: $bp-small) {
        font-size: 3rem;
    }
}

.h2 {
    font-size: 1.5rem;

    @include media($min: $bp-small) {
        font-size: 2.2rem;
    }
}

.h3 {
    font-size: 1.2rem;

    @include media($min: $bp-small) {
        font-size: 2rem;
    }
}

.h4 {
    font-size: 1rem;

    @include media($min: $bp-small) {
        font-size: 1.75rem;
    }
}

.uppercase  {
    text-transform: uppercase !important;
}



.page-heading {
    margin: 0;
    font-size: 3.5rem;
    font-family: 'Lato', Arial, Helvetica, sans-serif !important;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: -2px;
}

.site-wrapper, .content-wrapper{
    @extend %grid-base;
}
.main-grid{
    @extend %grid-base;
    grid-template-rows: $nav-height auto 100px;
}



// CLEAN REUSABLE CLASSES
.text-shadow {
    @extend %text-shadow-2;
}

.relative {
    position: relative !important;
}

.disabled {
    background: #888;
    color: #444;
}

.absolute {
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.margin-auto {
    margin: auto !important;
}

.no-margin {
    margin: 0 !important;
}
.margin-2 {
    margin: 2rem;
}

.text-left-center-mobile {
    text-align: center;

    @include media($min: $bp-small) {
        text-align: left;
    }
}

.text-rt-center-mobile {
    text-align: center;

    @include media($min: $bp-small) {
        text-align: right;
    }
}

.slim-margin {
    margin: 0.5rem auto;
}

.bxs-med {
    box-shadow: $bxs-medium;
}

hr {    
    clear: both;
    border-top: solid #1c1d1d;
    border-width: 1px 0 0;
    margin: 30px 0;
    height: 0;
}
.hr-small {
    border-width: 3px 0 0 0;
    width: 50px;
    margin: 20px auto;

}

.hr-blue {
    border-color: $colorBlue;
}

.hr-green {
    border-color: $colorMainLight;
}





.button {
    @extend %button-base, %box-shadow-hover, %trans;
}

.alt-primary-button {
    @extend %button-base, %box-shadow-hover, %trans;
    border: 2px solid $colorMainLight;
    color: $colorMainLight;
    background: transparent;

    &:hover {
        color: $black;
        background: $white;
        border-color: $white;
        
    }
}

.primary-button {
    @extend %button-base, %box-shadow-hover;
    background: $colorMainLight;
    border: 2px solid $colorMainLight;
    color: $colorSecondDark;
    

    &:hover {
        background: $white;
        border: 2px solid $white;
        color: $colorSecondDark;
    }
}

.green-blue-primary-button {
    @extend %button-base, %box-shadow-hover;
    background: $colorMainLight !important;
    color: $colorSecondDark !important;
    

    &:hover {
        background: $colorBlue !important;
        color: $white !important;
    }
}

.big-button {
    font-size: 1.35rem;
    padding: 1rem 0;
    width: 100%;
}

.tablet-up {
    display: none; 

    @include media($min: $bp-medium) {
        display: block; 
    }
}

.tablet-down {
    display: block;

    @include media ($min: $bp-medium){
        display: none !important;
    }

}

.mobile-only {
    display: block;  

    @include media($min: $bp-small) {
        display: none !important;
    }
}

.gutters-2 {
    padding-left: 2rem;
    padding-right: 2rem;
}

.text-center {
    text-align: center !important;
}

.text-left {
    text-align: left !important;
}

.text-rt {
    text-align: right !important;
}

.aj-center {
    align-items: center;
    justify-items: center;
}

.flex-start {
    align-items: flex-start !important;
}

.section-padding {
    @extend %section-padding;
}

.small-section-padding {
    @extend %small-section-padding;
}

.top-section-padding {
    padding: 2rem 0 0 0;
}

.bottom-section-padding {
    padding: 0 0 2rem ;
}



.section-shadow-down {
    box-shadow: 0px 2px 6px rgba(0,0,0,0.1);
}

.section-shadow-up {
    box-shadow: 0px 0px 12px rgba(0,0,0,0.1);
}

.content-width {
    margin: auto;
    max-width: $content-width-95;

    @include media($min: $bp-xl) {
        max-width: $content-width-xl;
    }
}

.content-width-small {
    margin: auto;
    max-width: $content-width-80;

    @include media($min: $bp-xl) {
        max-width: 50rem;
    }
}

.section {
    width: 100%;

    & .grid {
        @extend %grid-base;

        & .grid-section {
            @extend %grid-base;

        }
    }
}

.icon-image {
        max-width: 80px;
        max-height: 80px;

}

.quarters-2 {
    grid-template-columns: 1fr 1fr !important;
    
    @include media($min: $bp-small) {
        grid-template-columns: 1fr 1fr 1fr 1fr !important;
    }
}

.quarters-1 {
    grid-template-columns: 1fr !important;
    
    @include media($min: $bp-small) {
        grid-template-columns: 1fr 1fr !important;
    }

    @include media($min: $bp-large) {
        grid-template-columns: 1fr 1fr 1fr 1fr !important;
    }
}

.thirds {
    grid-template-columns: 1fr !important;
    
    @include media($min: $bp-small) {
        grid-template-columns: 1fr 1fr 1fr !important;
    }
}



.two-col-grid-small, .two-column {
    grid-template-columns: 1fr;

    @include media($min: $bp-small) {
        grid-template-columns: 1fr 1fr !important;
    }
}


.two-col-grid-smaller {
    grid-template-columns: 1fr;

    @include media($min: $bp-smaller) {
        grid-template-columns: 1fr 1fr !important;
    }
}


.flex  {
    display: flex;
}

// HEADER
// NAVBAR CSS

.header-wrapper {
    box-shadow: $bxs-medium;
    z-index: 2;
}

#header-yes {
    width: 100%;
    border-radius: 0;
    margin: 0;
    padding: 1rem 0;
    
    @include media($min:$bp-small) {
        padding: 0.8rem 1rem;
        margin: 0.5rem 0 0;
    }
}

// Outer navigation wrapper

  
  // Logo and branding
  .brand {
    position: absolute;
    padding-left: 20px;
    float: left;
    line-height: $nav-height;
    text-transform: uppercase;
    font-size: 1.4em;
    @include imantransition($quick-trans);
    a,
    a:visited {
      color: $nav-font-color;
      text-decoration: none;
    }

    & a img {
        margin: 0 0 5px;
        max-width: 80px;
        vertical-align: middle;
    }
  }
  
  // Container with no padding for navbar
  .nav-container {
    max-width: $content-width-xl;
    margin: 0 auto;
    
  }
  
  // Navigation 
  nav {
      z-index: 8;
    float: right;
    
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        
        float: left;
        position: relative;
        a,
        a:visited {
          display: block;
          padding: 0 20px;
          line-height: $nav-height;
          background: $nav-background;
          color: $nav-font-color;
          text-transform: uppercase;
          font-weight: 300;
          font-size: 1rem;
          text-decoration: none;
          @include imantransition($quick-trans);
          
          &:not(:only-child):after {
            padding-left: 4px;
            // content: ' ▾';
          }
        } // Dropdown list
        ul li {
          min-width: 190px;
          a {
            padding: 15px;
            line-height: 20px;
          }
        }
      }
    }
  }
  
  // Dropdown list binds to JS toggle event
  .nav-dropdown {
    position: absolute;
    display: none;
    z-index: 8;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
  }
  
  /* Mobile navigation */
  
  // Binds to JS Toggle
  .nav-mobile {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background: $nav-background;
    height: $nav-height;
    width: $nav-height;
  }
  @media only screen and (max-width: 798px) {
    // Hamburger nav visible on mobile only
    .nav-mobile {
      display: block;
      @include imantransition($quick-trans);
    }
    nav {
     width: 100%;
         z-index: 9;
      position: relative;
      padding: $nav-height 0 0px;
      ul {
        display: none;
        li {
          float: none;
          a {
            padding: 15px;
            line-height: 20px;
          }
          ul li a {
            padding-left: 30px;
          }
        }
      }
    }
    .nav-dropdown {
      position: static;
    }
  }
  @media screen and (min-width: $breakpoint) {
    .nav-list {
      display: block !important;
    }
  }
  #nav-toggle {
    position: absolute;
    left: 18px;
    top: 22px;
    cursor: pointer;
    padding: 10px 35px 16px 0px;
    span,
    span:before,
    span:after {
      cursor: pointer;
      border-radius: 1px;
      height: 5px;
      width: 35px;
      background: $nav-font-color;
      position: absolute;
      display: block;
      content: '';
      @include imantransition($quick-trans);
    }
    span:before {
      top: -10px;
    }
    span:after {
      bottom: -10px;
    }
    &.active span {
      background: transparent;
      &:before,
      &:after {
        top: 0;
      }
      &:before {
        transform: rotate(45deg);
      }
      &:after {
        transform: rotate(-45deg);
      }
    }
  }
  
  
  .nav-list li a:hover:after {
    width: 100%;
    background: $colorBlue;
  }
  .nav-list li a:after {
      content: '';
      display: block;
      height: 4px;
      width: 0;
      position: absolute;
      bottom: 0;
      left: 0;
      background: transparent;
      transition: all .3s ease-in-out;
      -moz-transition: all .3s ease-in-out;
      -webkit-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
  
    }
  
  // END OF NAVBAR CSS

// contact form css
.popup-contact-form-grid {
    & p {
        padding: 0 1rem;

        & input {
            border: 0;
            width: 100%;
            color: #000;
            background: transparent;
            border: 1px solid #000;
            padding: 0.5rem 0rem;
            border-radius: 4px !important;
            &::placeholder {
                color: $black;
                text-align: left;
                padding-left: 10px;
            }
        }

    }
}


// HOME PAGE

.footer-logo {
    display: grid;
    margin: 1rem auto;
    width: 100%;

    & img {
        max-width: 120px;
    }
}

.footer-menu {
    a {
        font-size: 0.65rem;
        text-decoration: none;
        color: $colorSecondDark;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 500;
        @extend %trans;
        cursor: pointer;

        &:hover {
            color: #0062b0;
        }

        @include media ($min: $bp-small) {
            font-size: .85rem;
        }
    }
}

.hero-grid {
    background: url('../img/hero-home-1125x650.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 0;
    min-height: 400px;
    height: 100vh;

    & .overlay {
        @extend %overlay;
        background: rgba($black, 0.1);

    }

    @include media($min: $bp-medium) {
        // max-height: 75vh;
        background: url('../img/hero-bg-1650x.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
}

.hero-heading {
    @extend %text-shadow-2;
    font-size: 2.5rem;

    @include media ($min:$bp-small){
        font-size: 3.75rem;
    }
}



.hero-contact-form-grid{

    & p {
        padding: 0 1rem;

        & input {
            border: 0;
            width: 100%;
            color: #000;
            background: rgba(255,255,255,0.2);
            border: 1px solid $white;
            padding: 0.5rem 0rem;
            border-radius: 4px !important;
            &::placeholder {
                color: $black;
                text-align: left;
                padding-left: 10px;
                letter-spacing: 1px;
                text-transform: uppercase;
            }
        }
    }
}


.hero-content {
    color: #ffffff;
    text-align: center;

    & h1 {
        font-size: 4em;
        font-weight: 800;
        color: #ffffff;
        text-shadow:-2px 2px 0px $colorSecond;
        @include imantransition(all .2s ease-out);
        
        @include media($min: $bp-small) {
            text-shadow:-3px 3px 0px $colorSecond;
            &:hover {
                text-shadow:-3px 3px 0px $colorSecond,-6px 6px 0px $colorBlue;
            }
        }
  
        @include media($min: $bp-medium) {
            font-size: 6em;
        }
    }

    & p{
        font-size: 1.75rem;
        font-weight: 300;
    }
}

// HOME SECTION

.home-intro {
    @extend %section-padding;
    width: 100%;
    background: #fcfcfc;
    
}

.intro-grid {
    @extend %grid-base;
    margin: auto;
}

.value-props {
    @extend %grid-base;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    justify-items: center;
    padding: 0 1rem;

    @include media($min: $bp-medium) {
        grid-template-columns: 1fr 1fr;
    }
}

.value {
    text-align: center;
    justify-items: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0.2rem;
    min-width: 100%;
    height: 100%;
    margin-bottom: 1rem;
    background: #fff;
    box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.05);


    @include media($min: $bp-medium) {
        border: 1px solid #fff;
        background: #fff;
        max-width: 300px;
        min-height: 100px;
    }

}

.value-section {
    width: 100%;
    text-align: center;
    border: 1px solid #fff;
    height: 100%;
    // padding: 0 1rem;
    color: $black;
    background: rgba(255,255,255,1);
    box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.7);
    
    & div {
        padding: 2rem;
    }

    & h3 {
        font-size: 1.2rem;
        text-align: center;
    
        @include media($min: $bp-small) {
            font-size: 2rem;
        }
    }
}

#value-props-home {
    color: $white;
    position: relative;
    z-index: 0;
    background: url('../img/lastreet.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    // background-attachment: fixed;

    & .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: radial-gradient(rgba($dark-blue, 0.82), rgba($colorBlue, 0.5));
        z-index: -1;
    }

    & h2 {
     @extend %text-shadow-2;
    }
}


.solutions-content {
    padding: 1.25rem;
    background: rgba(255,255,255,0.95);
    box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
}

.solutions-owner {
    background: url('../img/fancyinterior.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    @include media($min: $bp-medium) {
        background: url('../img/fancyinterior.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
    }


}

.solutions-tenant {
    background: url('../img/tenants.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: left;
    
    @include media($min: $bp-medium) {
        background: url('../img/tenants.jpg');
        text-align: right;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
    }


}

#schedule-home {
    background: url('../img/palms1125x615.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 0;


    @include media($min:$bp-medium) {
        background: url('../img/palmshollywood.jpg');
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    & .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: radial-gradient(rgba(24, 33, 41, 0.7), rgba(24, 33, 41, .85));
        z-index: -1;
    }

    & h3.h2 {
        color: white;
    }
}

// ABOUT PAGE
.about-mobile-heading {
    z-index: 0;
    padding: 3rem 0;
    background: url('../img/about-slide-2.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    // background-attachment: fixed;

    & .overlay{
        @extend %overlay;
        // background: rgba(255, 255, 255, 0.3);
    }

}

.top-relative{
    position: relative;
    z-index: 1;
    min-height: 500px;
    background: $white;
    // border: 1px dashed black;

    & .bg-color-div {
        background: #67ffa4;
        position: absolute;
        top: 5%;
        left: 10%;
        width: 800px;
        height: 500px;
        z-index: 1;;
    }

    & .img-div {
            position: absolute;
            top:9%;
            left: 6.5%;
            width: auto;
            height: auto;
            // border: 2px solid red;
            // background: $colorMainLight;;
            z-index: 2;

            & ul {
                list-style: none;
                margin: 0;
                padding: 0;
                position: relative;
              
              & li {
                position: absolute;
                left: 0%;
                margin-top: 0;
              }
            }

            & ul li img {
                max-width: 800px;
                box-shadow: 120px 70px 0 0px $colorMainLight;
            }

            & ul li img.service-slides {
                max-width: 800px;
                box-shadow: 120px 70px 0 0px $colorBlue;
            }
        }


    & .heading-div {

        & h1 {
            margin: 0;
            
            font-size: 3.5rem;
            // font-family: Lato, Raleway, Helvetica, Arial ;
            text-transform: uppercase;
            font-weight: 100;
            letter-spacing: -2px;
        }

        @include media($min: $bp-small) {
            position: absolute;
            top: 13%;
            left:60%;
            z-index: 4;
            max-width: 650px;
            padding: 0.5rem 1.5rem;
            background: linear-gradient(20deg, $white, $white);
            color: #000;
            
        }
        
    }

}


// SERVICES PAGE
#services-section {
    background: #fafafa;
    color: #000;
}

.services-mobile-heading {
    z-index: 0;
    padding: 3rem 0;
    background: url('../img/about-slide-3.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    // background-attachment: fixed;

    & .overlay{
        @extend %overlay;
        background: rgba(255, 255, 255, 0.75);
    }

}


.services-heading {
    font-size: 2rem !important;
}

.services-contact-form {
    padding: 2rem;
    border: 1px solid #f9f9f9;
    border-radius: 2%;
    background: $white;
    color: $black;
    @extend %box-shadow;
    margin: 0 2rem;

    @include media($min:$bp-medium) {
        margin: 0;
    }
}

.services-list, .value-section {
    & div {
        & img {
            max-width: 80px;
            max-height: 100px;
        }
    }
}

.video-services {
    & iframe {
        height: 200px;
        width: 350px;
        

        @include media($min: $bp-small) {
            height: 350px;
            width: 600px;
        }

        @include media($min: $bp-medium) {
            height: 500px;
            width: 850px;
        }
    }
}

// CONTACT PAGE
.contact-page-heading, .services-mobile-heading {
    
    & .heading-div {

        & h1 {
            margin: 0;
            font-size: 3.5rem;
            // font-family: Lato, Raleway, Helvetica, Arial ;
            text-transform: uppercase;
            font-weight: 100;
            letter-spacing: -2px;
        }

        @include media($min: $bp-small) {
            z-index: 1;
            max-width: 650px;
            padding: 0.5rem 1.5rem;
            // background: linear-gradient(20deg, $white, $white);
            color: #000;
            
        }
        
    }
}


// OWNER PAGE 
.owner-page-section-hero {
    background: url('../img/owner-page-hero-1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 50vh;
    // background-position-x: -318px;
    background-size: cover;
    display: flex;

    @include media($min: $bp-small) {
        max-height: 30vh;
        background-position-x: 0;
    }

    & h1 {
        color: white;
        @extend %text-shadow-2;
        font-size: 4rem;
    }
}




// UNDERLINE MAGIC

.underline--magical {
    background: $colorMainLight;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, $colorMainLight, $aqua-lt);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, $colorMainLight, $aqua-lt); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    
        background-repeat: no-repeat;
        background-size: 99% .2em;
        background-position: 33% 91%;
        transition: background-size 0.2s ease-in;
    
      &:hover {
        background-size: 100% 100%;
      }
    
    }
  



.heading-img-slider{


    
    @keyframes fade3
    {
      0%   {opacity:1}
      33.333% { opacity: 0}
      66.666% { opacity: 0}
      100% { opacity: 1}
    }
    @keyframes fade2
    {
      0%   {opacity:0}
      33.333% { opacity: 1}
      66.666% { opacity: 0 }
      100% { opacity: 0}
    }
    @keyframes fade
    {
      0%   {opacity:0}
      33.333% { opacity: 0}
      66.666% { opacity: 1}
      100% { opacity: 0}
    }
    
    & ul {
        // & li:nth-child(4) {
        //     animation: xfade 16s 0s infinite;
        // }
        & li:nth-child(3) {
            animation: fade3 14s infinite;
        }
        & li:nth-child(2) {
            animation: fade2 14s infinite;
        }
        & li:nth-child(1) {
            animation: fade 14s infinite;
        }
    }
}


// POP UP

/* CUSTOM POP UP  */
.popup-inner {
    position: relative; 
    display: grid;
    height: 100vh;
    width: 100xw;
}
#popup {
    position: fixed; 
    top: 0; 
    left: 0; 
    min-width: 100vw; 
    min-height: 100vh; 
    width: 100%; 
    height: 100%; 
    background: rgba(0,0,0,0.925);
    z-index: 999;
    display: none;
}

#popup-close {
    position: absolute; 
    top: -30px; 
  	left: 0;
    width: 100%; 
    height: 50px;
    font-weight: 200;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    cursor: pointer;
}

.popup-box {

  margin: auto; text-align: center; 
  border: 1px solid #000; 
  box-shadow: 0 0 15px 5px rgba(0,0,0,.8);
  border-radius: 10px;
  position: relative;
  background: #fff; color: #000;

  & .popup-box-content {
    width: 100%;position: relative;height: 100%;display: grid; grid-template-columns:1fr;
  }

  @include media($min: $bp-small) {
    width: 700px; height: 550px; 

    & .popup-box-content {
      width: 100%;position: relative;height: 100%;display: grid; grid-template-columns: minmax(120px, 300px) 1fr;
    }

  }

}

.popuptext {
  padding: 2rem;
  margin: auto;
  align-self: center;
  
  @include media($min: $bp-small) {
    margin: auto;
  }

  & h3 {
      font-size: 1.5rem;
      line-height: 1.6rem;
      margin-top: 0;

      @include media($min: $bp-small) {
        font-size: 2rem;
        line-height: 2.4rem;

      }
  }
}

.popupimg {
  border-radius: 8px 8px 0 0;
  min-height: 120px;
  background: url('../img/fancyinterior.jpg');
  background-size: cover; background-position: center; background-repeat: no-repeat;
  
  @include media($min: $bp-small) {
  	border-radius: 8px 0 0 8px;
  }
}

