
// UNDERLINE MAGIC

.underline--magical {
    background: $aqua-lt;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, $aqua-lt, $aqua-dark);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, $aqua-lt, $aqua-dark); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    
        background-repeat: no-repeat;
        background-size: 99% .2em;
        background-position: 33% 91%;
        transition: background-size 0.2s ease-in;
    
      &:hover {
        color: #000;
        background-size: 100% 100%;
        & a { color: #000; }
      }
    
      @media (max-width: 576px) {
        background: transparent;
        text-align: center;
        padding: 10px 10px;
      }
    
    }
  